#test{
    background-color: red;
    width: 400px;
  }
  td {
      br-rightorder-top-style: dotted;
      borde-style: dotted;
      border-bottom-style: dotted;
      border-left-style: dotted;
    }