#test{
    background-color: rgb(69, 121, 80);
    width: 300px;
  }

.list {width: 80%;}

.list td  {
    br-rightorder-top-style: dotted;
    borde-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right: dotted;
    border-top: dotted;
  }

.post-item {
    background-color: cadetblue;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;}

.post-item h3 {
    color: white;
  }

footer {
  background-color:grey;
  padding-left: 1cm;
  padding-top: 1cm;
  padding-bottom: 1cm;}