body {background-color: aqua;}
.col1 {float: left;
        width: 25%;
        margin-right: 5px;
        padding: 10px;
        background-color: blue;}
.col2  {float: left;
        width: 70%;
        padding: 5px;}

@media screen and (max-width: 716px) {
    .row div {width: 100%;}
    .col2 {margin-right: 5px;
            padding: 10px;}
}